.DS_Store
bin/
modules-dev/
.vagrant/
*.backup
./*.tfplan
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
**/_datacenter_ws/*
**/.obsidian
**/.terraform.lock.hcl
**/terraform.tfstate
